body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

header {
    background: url(../../../assets/header.png);
    height: 20vh;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 20vh;
    text-align: center; 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

